#forBackground {
    height: 3600px;
    background-image: url('scrollbackground.png');
}

#forBack {
    background-color: black;
    height: 3600px;
}

#wrapper {
    /* border: 3px solid red; */
    width: 1254px;
    height: 3200px;
    margin-left: 350px;
}

header {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 8px rgb(0, 0, 0);
}

.logo {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -0.5px;
    padding-top: -10px;
    color: #E86EA0;
    /* color: linear-gradient(#E86EA0,#BA28FF); */
}

nav {
    padding-top: 25px;
    width: 706px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #E86EA0;
    text-decoration: none;
}

nav>img {
    cursor: pointer;
}

.loginAndElse {
    padding-top: 25px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginAndElse > img {
    width: 20px;
    height: 20px;
}

.switchTheme {
    width: 60px;
    height: 32px;
    background: linear-gradient(#E86EA0, #BA28FF);
    border-radius: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switchTheme > img {
    width: 40px;
}

.switchTheme > img:nth-child(2) {
    padding-top: 5px;
}

#login {
    padding-left: 54px;
    padding-top: 7px;
    width: 147px;
    height: 32px;
    border-radius: 66px;
    text-decoration: none;
    color: #210B54;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: linear-gradient(#E86EA0, #BA28FF);
}

.startNow {
    margin-top: 67px;
}

.startNow>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 105px;
}

.startNow>h1:nth-child(1) {
    color: #BA28FF;
}


.startNow>h1:nth-child(2) {
    color: #E86EA0;
}

.startNow>p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 21px;
    margin-bottom: 90px;
}

.startNow>a {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 262px;
    height: 59px;
    border-radius: 66px;
    text-decoration: none;
    color: #FFFDFA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: linear-gradient(#E86EA0, #BA28FF);
}

.trending {
    margin-top: 169px;
}

.trending>h1 {
    color: #E86EA0;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 47px;
    margin-left: 490px;
}

.miniGraphs {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1231px;
    height: 330px;
}

.miniGraphs>div {
    scroll-snap-align: center;
    margin-right: 50px;
    height: 250px;
    /* border: 1px solid black; */
}

.popularMarkets {
    margin-top: 300px;
}

.popularMarkets>h1 {
    color: #E86EA0;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 47px;
    margin-left: 420px;
    margin-bottom: 100px;
}

.largeGraph {
    margin-bottom: 100px;
}

.popularMarkets>a {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 262px;
    height: 59px;
    border-radius: 66px;
    text-decoration: none;
    color: #FFFDFA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: linear-gradient(#E86EA0, #BA28FF);
    margin-left: 40%;

}

.ourResults {
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ourResults>div {
    width: 228px;
}

.ourResults>div>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #BA28FF;
    font-size: 63px;
}

.ourResults>div>p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 31px;
    color: #FFFDFA;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 300px;
}

.downloadOn {
    margin-top: 50px;
    width: 262px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forText>p:nth-child(1) {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 21px;
}


.forText>p:nth-child(2) {
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 26px;
}

.toRow {
    height: 265px;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-direction: column;
}

.product > h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.product > p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 57px;
    color: rgb(255, 255, 255);
}

.product > p:nth-child(2) {
    margin-top: 39px;
}